<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock title %}
    </title>
    <style>
        body{
            text-align: center;
        }

        form {
            background-color: burlywood;
            display: inline-block;
            margin: auto 30%;
            border-radius: 10px;
            margin: 10px 0px;
        }

    </style>
</head>

<body>

    {% block body %}

    {% endblock body %}
</body>

</html>